/Practica-MPalabrados/MPalabrados1/build/
/Practica-MPalabrados/MPalabrados1/dist/
/Practica-MPalabrados/Librerias sin compilar/AnsiTerminal/build/
/Practica-MPalabrados/Librerias sin compilar/AnsiTerminal/dist/
/Practica-MPalabrados/Librerias sin compilar/language/build/
/Practica-MPalabrados/Librerias sin compilar/language/dist/
/Practica-MPalabrados/Librerias sin compilar/wordlist/build/
/Practica-MPalabrados/Librerias sin compilar/wordlist/dist/
/MPalabrados1/build/
/MPalabrados1/dist/
/Practica-MPalabrados/MPalabrados3/build/
/Practica-MPalabrados/MPalabrados3/dist/
/parcial1/build/
/parcial1/dist/
/Practica-MPalabrados/MPalabrados5/dist/
/Practica-MPalabrados/MPalabrados5/build/